 @font-face {
    font-family: 'fontAwesome';
    src: url('fonts/fontAwesome-webfont.eot');
    src: url('fonts/fontAwesome-webfont.svg'),
        url('fonts/fontAwesome-webfont.ttf') format('truetype'),
        url('fonts/fontAwesome-webfont.woff');
}

@font-face {
    font-family: 'glyphicons-halfings-regular';
    src: url('fonts/glyphicons-halfings-regular.eot');
    src: url('fonts/glyphicons-halfings-regular.ttf') format('truetype'),
        url('fonts/glyphicons-halfings-regular.woff');
}

@font-face {
    font-family: 'roboto-Black';
    src: url('fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-BlackItalic';
    src: url('fonts/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-Bold';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-BoldItalic';
    src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-Italic';
    src: url('fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-Light';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-LightItalic';
    src: url('fonts/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-Medium';
    src: url('fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-MediumItalic';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-Regular';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-Thin';
    src: url('fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-ThinItalic';
    src: url('fonts/Roboto-ThinItalic.ttf') format('truetype');
}




/*fin mediaqueries ligne 638*/

@media all and (max-device-width: 480px) {
    * {
        margin: 0;
        padding: 0;
    }

    #header-menu {
        position: fixed;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 70px;
        background-color: white;
        z-index: 5;
    }

    .logo-pic {
        position: absolute;
        width: 20%;
        height: auto;
        left: 7%;
        top: 30px;
    }

    .menu {
        width: 45%;
        height: 70px;
        position: absolute;
        right: 5%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    .li-menu {
        font-size: 60%;
        padding-top: 33px;
    }

    .li-menu:hover {
        border-top: 2px solid #1E90FF;
        color: black;
        opacity: 0.8;
    }

    .ancre-menu {
        text-decoration: none;
        font-family: 'roboto-Medium';
        color: black;
        opacity: 0.5;
    }

    #header {
        max-height: 100%;
    }

    .slider-un {
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 80px;
    }

    .slider-deux {
        display: none;
    }

    .header-pic-over {
        position: absolute;
        width: 70%;
        height: 20%;
        left: 6%;
        top: 85px;
    }

    .angle-left-container, .angle-right-container{
        display: none;
    }

    .header-title {
        font-size: 90%;
        font-family: 'roboto-Black';
        line-height: 14px;
        margin-bottom: 5px;
    }

    .blue-text {
        color: #34cceb;
    }

    .white-text {
        color: white;
    }

    .header-text {
        font-family: 'roboto-Medium';
        font-size: 70%;
    }

    .button-header {
        display: block;
        margin-top: 10px;
        text-decoration: none;
        width: 30%;
        text-align: center;
        font-family: 'roboto-Medium';
        font-size: 85%;
        padding: 7px 15px 7px 15px;
        border-radius: 4px;
        border: 0px;
        color: white;
        background-color: #1E90FF;
    }

    .presentation {
        padding-bottom: 30px;
        width: 100%;
    }

    #service {
        width: 100%;
        padding-top: 70px;
        text-align: center;
        margin-bottom: 3%;
        font-family: 'roboto-Bold';
        font-size: 150%;
    }

    .deco-service {
        display: flex;
        width: 100%;
        height: 10%;
    }

    .trait {
        width: 30%;
        border-bottom: 2px solid black;
        opacity: 0.2;
        margin-left: 34.5%;
        padding-right: 1.5%;
    }
    .div-cercle-projet, .div-cercle-service{
        margin-left: -17.8%;
        margin-top: -2.5%;
    }

    #cercle-projet, #cercle-service {
        margin-top: 0.5%;
        margin-left: -0.35%;
        position: absolute;
        z-index: 3;
        font-size: 110%;
        color: #1E90FF;
    }

    #sous-cercle-projet, #sous-cercle-service{
        margin-top: -0.72%;
        margin-left: -1.46%;
        position: absolute;
        z-index: 2;
        font-size: 160%;
        color: #FFFFFF;
    }

    .p-service,
    .p-projet {
        position: relative;
        width: 90%;
        left: 5%;
        text-align: center;
        margin-top: 25px;
        line-height: 20px;
        font-family: 'roboto-Medium';
        font-size: 0.7em;
        opacity: 0.6;
    }

    .pic-service {
        width: 50%;
        height: auto;
        padding-left: 25%;
    }

    .fa-chart-line {
        position: absolute;
        left: 32%;
        top: 35%;
        color: #1E90FF;
        font-size: 70%;
    }

    #cercle-service-un, #cercle-service-deux, #cercle-service-trois {
        position: absolute;
        color: #1E90FF;
        left: 87%;
        top: 34.5%;
        font-size: 25%;
        border: 3px solid white;
        border-radius: 100%;
        padding: 0px;
    }

    .fa-stack {
        margin-right: 7%;
        margin-left: 5%;
        border: 1px solid gray;
        border-radius: 50%;
        height: 30px;
    }

    .fa-cubes {
        position: absolute;
        color: #1E90FF;
        font-size: 70%;
        left: 32%;
        top: 35%;
    }

    .fa-chart-pie {
        position: absolute;
        color: #1E90FF;
        font-size: 70%;
        left: 32%;
        top: 35%;
    }

    .conteneur-un,
    .conteneur-deux,
    .conteneur-trois {
        margin-top: 4%;
        margin-bottom: 6%;
        margin-right: 5%;
        display: flex;
    }

    .conteneurs-icons{
        width: 100%;
        display: block;
    }

    .text-service {
        width: 100%;
        opacity: 0.6;
        font-size: 60%;
        line-height: 15px;
        font-family: 'roboto-Medium';
    }

    .div-service {
        width: 320px;
        font-family: 'roboto-Medium';
        line-height: 25px;
    }

    #projet {
        background-color: #CECECE;
        padding-top: 25px;
    }

    .header-projet {
        text-align: center;
    }

    .titre-projet {
        padding-top: 12%;
        text-align: center;
        margin-bottom: 10px;
        font-family: 'roboto-Bold';
        font-size: 150%;
    }

    .deco-projet {
        display: flex;
        height: 15%;
        width: 100%;
    }

    .bouton-projet {
        max-width: 100%;
        overflow: scroll;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .div-bouton{
        max-width: 20%;
        margin: 0px;
    }

    .bouton {
        width: 95%;
        height: 40px;
        background-color: #C0C0C0;
        color: #2D241E;
        font-family: 'roboto-Medium';
        font-size: 90%;
        border: 0;
    }

    #bouton-un, #bouton-deux, #bouton-trois, #bouton-quatre{
        width: 100%;
        padding: 0% 13% 0% 13%;
    }

    .bouton:focus {
        outline: 0;
        background-color: #1E90FF;
        border-bottom: 3px solid #4169E1;
    }
    #bouton-un{
        outline: 0;
        background-color: #1E90FF;
        border-bottom: 3px solid #4169E1;
    }

    #bouton-un ~ #fleche-un {
        opacity: 1;
    }

    #bouton-deux:focus ~ #fleche-deux {
        opacity: 1;
    }

    #bouton-trois:focus ~ #fleche-trois {
        opacity: 1;
    }

    #bouton-quatre:focus ~ #fleche-quatre {
        opacity: 1;
    }


    #bouton-un {
        border-top-left-radius: 8%;
        border-bottom-left-radius: 8%;
    }

    #bouton-quatre {
        border-top-right-radius: 8%;
        border-bottom-right-radius: 8%;
    }

    .fleche-bouton {
        display: flex;
        width: 400px;
        left: 12%;
    }

    #fleche-un,
    #fleche-deux,
    #fleche-trois,
    #fleche-quatre {
        font-size: 20px;
        margin-right: 0px;
        margin-left: 40%;
        margin-bottom: 30px;
        color: #4169E1;
        opacity: 0;
        margin-top: -9px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        display: block;
    }

    .photo-un,
    .photo-deux,
    .photo-trois,
    .photo-quatre,
    .photo-cinq,
    .photo-six,
    .photo-sept,
    .photo-huit,
    .photo-neuf {
        width: 54%;
    }

    .image-un,
    .image-deux,
    .image-trois,
    .image-quatre,
    .image-cinq,
    .image-six,
    .image-sept,
    .image-huit,
    .image-neuf {
        max-width: 100%;
        height: auto;
        z-index: 1;
        padding-left: 42.5%;

    }

    .conteneur-photo {
        width: 100%;
        height: auto;
        display:inline-flex;
        flex-direction: column;
        margin-top: 2%;
    }

    .image-neuf {
        width: 100%;
        height: auto;
        margin-top: -2%;
        margin-bottom: 10%;
    }

    .image-un:hover,
    .image-deux:hover,
    .image-trois:hover,
    .image-quatre:hover,
    .image-cinq:hover,
    .image-six:hover,
    .image-sept:hover,
    .image-huit:hover,
    .image-neuf:hover {
        transform: scale(1.8) translateX(-6.6%);

    }

    .desc-photo-un,
    .desc-photo-deux,
    .desc-photo-trois,
    .desc-photo-quatre,
    .desc-photo-cinq,
    .desc-photo-six,
    .desc-photo-sept,
    .desc-photo-huit,
    .desc-photo-neuf {
        display: none;
    }

    #contact {
        padding-top: 70px;
        width: 100%;
        height: 380px;
    }

    .map {
        width: 100%;
        height: 520px;
        border: 0;
        z-index: 2;
        opacity: 0.6;
    }

    .map-color {
        position: absolute;
        width: 100%;
        height: 520px;
        background-color: skyblue;
        opacity: 0.6;
        z-index: 0;
        border-top: 1px solid black;
    }

    .form-contact {
        position: relative;
        width: 80%;
        height: 80%;
        margin-left: 10%;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.7);
    }

    .titre-contact {
        padding: 10px 0px 8px 18px;
        font-family: 'roboto-bold';
        font-size: 150%;
    }

    p.text-contact {
        margin: 0px 0px 15px 18px;
        font-family: 'roboto-Medium';
        font-size: 80%;
        opacity: 0.7;
        line-height: 19px;
    }

    input {
        margin-top: 13px;
        margin-left: 5%;
        height: 25px;
        width: 40%;
        font-size: 90%;
        border-radius: 2px;
    }

    .input {
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    input.submit {
        width: 87.3%;
        margin-left: 5%;
        height: 30px;
        border-bottom: 2px solid #6495ED;
        border-style: outset;
        background-color: #1E90FF;
        color: white;
        font-family: 'roboto-Medium';
    }

    textarea {
        margin-top: 13px;
        margin-left: 5%;
        height: 40px;
        width: 86.8%;
        border: 0;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    input::placeholder {
        padding-top: 5px;
        text-indent: 10px;
        font-family: 'roboto-Medium';
        opacity: 0.7;
    }

    textarea::placeholder {
        padding-top: 4px;
        text-indent: 10px;
        font-family: 'roboto-Medium';
        font-size: 110%;
        opacity: 0.6;
    }

    .bold-text-form {
        font-family: 'roboto-Bold';
        font-size: 100%;
    }
}

@media all and (min-width: 481px) and (max-width: 880px) {
    * {
        margin: 0;
        padding: 0;
    }

    #header-menu {
        position: fixed;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100px;
        background-color: white;
        z-index: 5;
    }

    .logo-pic {
        position: absolute;
        width: 30%;
        height: auto;
        left: 7%;
        top: 30%;
    }

    .menu {
        width: 40%;
        height: 100px;
        position: absolute;
        right: 5%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    .li-menu {
        font-size: 100%;
        padding-top: 45px;
    }

    .li-menu:hover {
        border-top: 2px solid #1E90FF;
        color: black;
        opacity: 0.8;
    }

    .ancre-menu {
        text-decoration: none;
        font-family: 'roboto-Medium';
        color: black;
        opacity: 0.5;
    }

    #header {
        max-height: 100%;
    }

    .slider-un {
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 100px;
    }

    .slider-deux {
        width: 100%;
        height: auto;
        position: absolute;
        margin-top: 100px;
    }

    .header-pic-over {
        position: absolute;
        width: 45%;
        height: 100%;
        left: 6%;
        top: 200px;
    }

    .header-title {
        font-size: 130%;
        font-family: 'roboto-Black';
        line-height: 25px;
        margin-bottom: 8px;
    }

    .blue-text {
        color: #1E90FF;
    }

    .white-text {
        color: white;
    }

    .header-text {
        font-family: 'roboto-Medium';
        font-size: 100%;
    }

    .button-header {
        display: block;
        width: 30%;
        text-align: center;
        font-family: 'roboto-Medium';
        font-size: 90%;
        margin-top: 15px;
        text-decoration: none;
        padding: 7px 15px 7px 15px;
        border-radius: 4px;
        border: 0px;
        color: white;
        background-color: #1E90FF;
    }

    .presentation {
        padding-bottom: 30px;
        width: 100%;
    }

    #service {
        width: 100%;
        padding-top: 12%;
        text-align: center;
        margin-bottom: 3%;
        font-family: 'roboto-Bold';
        font-size: 240%;
    }

    .deco-service {
        display: flex;
        width: 100%;
    }

    .trait {
        width: 20%;
        border-bottom: 3px solid black;
        opacity: 0.2;
        margin-left: 38.5%;
        margin-right: 1.5%;
    }

    .div-cercle-projet, .div-cercle-service{
        margin-left: -11.4%;
        margin-top: -1.5%;
    }

    #cercle-projet, #cercle-service {
        margin-top: 0.4%;
        margin-left: -0.96%;
        position: absolute;
        z-index: 3;
        font-size: 135%;
        color: #1E90FF;
    }

    #sous-cercle-projet, #sous-cercle-service{
        margin-top: -0.045%;
        margin-left: -1.49%;
        position: absolute;
        z-index: 2;
        font-size: 185%;
        color: #FFFFFF;
    }

    .p-service,
    .p-projet {
        position: relative;
        width: 90%;
        left: 5%;
        text-align: center;
        margin-top: 25px;
        line-height: 20px;
        font-family: 'roboto-Medium';
        font-size: 100%;
        opacity: 0.6;
    }

    .pic-service {
        float: left;
        width: 40%;
        height: auto;
        padding-left: 3%;
        padding-top: 15%;
    }

    .fa-chart-line {
        position: absolute;
        left: 32%;
        top: 30%;
        color: #1E90FF;
        font-size: 90%;
    }

    #cercle-service-un, #cercle-service-deux, #cercle-service-trois {
        position: absolute;
        color: #1E90FF;
        left: 91%;
        top: 42.5%;
        border: 3px solid white;
        border-radius: 100%;
        font-size: 25%;
    }

    .fa-cubes {
        position: absolute;
        color: #1E90FF;
        font-size: 90%;
        left: 32%;
        top: 30%;
    }

    .fa-chart-pie {
        position: absolute;
        color: #1E90FF;
        font-size: 90%;
        left: 32%;
        top: 30%;
    }

    .fa-stack{
        margin-right: 7%;
        margin-left: 5%;
        border: 1px solid gray;
        border-radius: 50%;
        height: 30px;
    }

    .conteneur-un,
    .conteneur-deux,
    .conteneur-trois {
        margin-top: 4%;
        margin-bottom: 6%;
        margin-right: 5%;
        display: flex;
    }

    .text-service {
        width: 100%;
        opacity: 0.6;
        font-size: 80%;
        line-height: 150%;
        font-family: 'roboto-Medium';
    }

    .div-service {
        width: 80%;
        font-family: 'roboto-Medium';
        line-height: 170%;
    }

    #projet {
        background-color: #CECECE;
    }

    .header-projet {
        text-align: center;
    }

    .titre-projet {
        padding-top: 12%;
        text-align: center;
        margin-bottom: 10px;
        font-family: 'roboto-Bold';
        font-size: 240%;
    }

    .deco-projet {
        display: flex;
    }

    .bouton-projet {
        max-width: 95%;
        display: flex;
        justify-content: center;
        margin-top: 6%;
    }

    .bouton {
        width: 100%;
        height: 75%;
        background-color: #C0C0C0;
        color: #2D241E;
        font-family: 'roboto-Medium';
        font-size: 90%;
        border: 0;
    }

    .bouton:focus {
        outline: 0;
        background-color: #1E90FF;
        border-bottom: 3px solid #4169E1;
    }
    #bouton-un{
        outline: 0;
        background-color: #1E90FF;
        border-bottom: 3px solid #4169E1;
    }

    #bouton-un ~ #fleche-un {
        opacity: 1;
    }

    #bouton-deux:focus ~ #fleche-deux {
        opacity: 1;
    }

    #bouton-trois:focus ~ #fleche-trois {
        opacity: 1;
    }

    #bouton-quatre:focus ~ #fleche-quatre {
        opacity: 1;
    }


    #bouton-un {
        border-top-left-radius: 8%;
        border-bottom-left-radius: 8%;
    }

    #bouton-quatre {
        border-top-right-radius: 8%;
        border-bottom-right-radius: 8%;
    }

    #fleche-un,
    #fleche-deux,
    #fleche-trois,
    #fleche-quatre {
        font-size: 120%;
        padding-right: 43px;
        padding-left: 43px;
        margin-bottom: 30px;
        color: #4169E1;
        opacity: 0;
        margin-top: -9px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        display: block;
    }

    .photo-un,
    .photo-deux,
    .photo-trois,
    .photo-quatre,
    .photo-cinq,
    .photo-six,
    .photo-sept,
    .photo-huit,
    .photo-neuf {
        width: 70%;
    }

    .image-un,
    .image-deux,
    .image-trois,
    .image-quatre,
    .image-cinq,
    .image-six,
    .image-sept,
    .image-huit,
    .image-neuf {
        max-width: 100%;
        height: auto;
        z-index: 1;
    }

    .photo-projet{
        display: flex;
    }

    .conteneur-photo {
        width: 82%;
        height: auto;
        display: inline-flex;
        flex-direction: column;
        margin: 8% -15% 8% 10%;
        margin-right: 0px;
    }

    #photo-resp-tablette {
        display: none;
    }

    .image-un:hover,
    .image-deux:hover,
    .image-trois:hover,
    .image-quatre:hover,
    .image-cinq:hover,
    .image-six:hover,
    .image-sept:hover,
    .image-huit:hover,
    .image-neuf:hover {
        transform: scale(1.85);

    }

    .desc-photo-un,
    .desc-photo-deux,
    .desc-photo-trois,
    .desc-photo-quatre,
    .desc-photo-cinq,
    .desc-photo-six,
    .desc-photo-sept,
    .desc-photo-huit,
    .desc-photo-neuf {
        display: none;
    }

    #contact {
        padding-top: 10%;
        width: 100%;
        height: 380px;
    }

    .form-contact {
        position: relative;
        width: 80%;
        height: 80%;
        margin-left: 10%;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.7);
    }

    .titre-contact {
        padding: 3% 0% 2% 5%;
        font-family: 'roboto-bold';
        font-size: 150%;
    }

    p.text-contact {
        margin: 0% 0% 5% 5%;
        font-family: 'roboto-Medium';
        font-size: 80%;
        opacity: 0.7;
        line-height: 19px;
    }

    input {
        margin-top: 13px;
        margin-left: 5%;
        height: 25px;
        width: 40%;
        font-size: 90%;
        border-radius: 2px;
    }

    .input {
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    input.submit {
        width: 87.3%;
        margin-left: 5%;
        height: 30px;
        border-bottom: 2px solid #6495ED;
        border-style: outset;
        background-color: #1E90FF;
        color: white;
        font-family: 'roboto-Medium';
    }

    textarea {
        margin-top: 13px;
        margin-left: 5%;
        height: 40px;
        width: 86.8%;
        border: 0;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    input::placeholder {
        padding-top: 5px;
        text-indent: 10px;
        font-family: 'roboto-Medium';
        opacity: 0.7;
    }

    textarea::placeholder {
        padding-top: 4px;
        text-indent: 10px;
        font-family: 'roboto-Medium';
        font-size: 110%;
        opacity: 0.6;
    }

    .bold-text-form {
        font-family: 'roboto-Bold';
        font-size: 100%;
    }

    .map {
        margin-top: 5%;
        width: 100%;
        height: 800px;
        border: 0;
    }

    .map-color {
        margin-top: 5%;
        position: absolute;
        width: 100%;
        height: 800px;
        background-color: skyblue;
        opacity: 0.2;
        border-top: 2px solid black;
    }
}
@media all and (min-width: 881px) {
    * {
        margin: 0;
        padding: 0;
    }

    #header-menu {
        position: fixed;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 120px;
        background-color: white;
        z-index: 5;
    }

    .logo-pic {
        position: absolute;
        width: 15%;
        height: auto;
        left: 11%;
        top: 30%;
    }

    .menu {
        position: relative;
        height: 120px;
        vertical-align: middle;
        left: 70%;
        list-style-type: none;
        display: flex;
    }

    .li-menu {
        padding: 50px 2px 0px 2px;
        margin-right: 3%;
    }

    .li-menu:hover {
        border-top: 3px solid #1E90FF;
        padding-top: 42px;
        color: black;
        opacity: 0.8;
    }

    .ancre-menu {
        text-decoration: none;
        font-family: 'roboto-Medium';
        font-size: 90%;
        color: black;
        opacity: 0.5;
        height: 200px;
    }

    #header {
        max-height: 100%;
        width: 100%;
    }

    .slider-un {
        width: 100%;
        height: auto;
        position: absolute;
        margin-top: 100px;
        transition-property: transform;
        transition-duration: 0.4s;
        transition-timing-function: ease-in;
    }

    .slider-deux {
        width: 100%;
        height: auto;
        position: absolute;
        margin-top: 100px;
    }

    .angle-right-container:focus-within ~ .slider-un{
        transform: translateX(-100%);
    }

    .angle-left-container{
        position: absolute;
        margin-top: 22.5%;
        overflow: hidden;
        left: -0.7%;
        height: 15%;
        width: 3.5%;
        z-index: 4;
    }

    .fa-angle-left{
        padding: 50% 25% 50% 88%;
        margin-left: -57%;
        opacity: 0.5;
        font-size: 160%;
        border-radius: 100%;
        border-style: none;
        color: white;
        background-color: black;
    }

    .angle-right-container{
        position: absolute;
        margin-top: 22.5%;
        overflow: hidden;
        right: 0%;
        height: 15%;
        width: 3.5%;
        z-index: 4;
    }

    .fa-angle-right{
        padding: 50% 110% 50% 30%;
        margin-left: 25.6%;
        opacity: 0.5;
        font-size: 160%;
        border-radius: 100%;
        border-style: none;
        color: white;
        background-color: black;
    }

    .fa-angle-right:hover, .fa-angle-left:hover{
        opacity: 0.7;
    }

    .header-pic-over {
        position: absolute;
        width: 40%;
        height: 100%;
        margin-left: 11%;
        margin-top: 20%;
    }

    .header-title {
        font-size: 240%;
        font-family: 'roboto-Black';
        line-height: 35px;
        margin-bottom: 15px;
    }

    .blue-text {
        color: #4EB4DB;
    }

    .white-text {
        color: white;
    }

    .header-text {
        font-family: 'roboto-Medium';
        font-size: 90%;
    }

    .button-header {
        display: block;
        width: 20%;
        text-align: center;
        font-family: 'roboto-Medium';
        text-decoration: none;
        font-size: 120%;
        padding: 13px 21px 13px 21px;
        margin-top: 30px;
        border-radius: 6px;
        border-bottom: 3px solid #2DA0EB;
        color: white;
        background-color: #4EB4DB;
    }

    .presentation {
        padding-top: 50%;
        padding-bottom: 30px;
        width: 100%;
    }

    #service {
        padding-top: 100px;
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
        font-family: 'roboto-Bold';
        font-size: 300%;
    }

    .deco-service,
    .deco-projet {
        display: flex;
        margin-bottom: 2%;
        margin-top: -1%;
    }

    .trait {
        width: 18.5%;
        border-bottom: 2px solid black;
        opacity: 0.2;
        margin-left: 40.8%;
        margin-right: 1%;
    }

    .p-service,
    .p-projet {
        width: 55%;
        margin-left: 22.5%;
        margin-bottom: 4%;
        text-align: center;
        line-height: 25px;
        font-family: 'roboto-Medium';
        font-size: 100%;
        opacity: 0.6;
    }

    .pic-service {
        width: 35%;
        float: left;
        padding-left: 10%;
        padding-top: 30px;
    }

    .fa-chart-line {
        position: absolute;
        color: #1E90FF;
        font-size: 100%;
        margin-left: 25px;
        margin-top: 22px;
    }

    #cercle-service-un, #cercle-service-deux, #cercle-service-trois {
        position: absolute;
        color: #1E90FF;
        margin-top: 33px;
        margin-left: 70px;
        font-size: 30%;
        border: 4px solid white;
        border-radius: 100%;
        padding: 0px;
    }

    .fa-stack {
        margin-right: 30px;
        padding-bottom: 12px;
        border: 0.7px solid gray;
        height: 30%;
        border-radius: 50%;

    }

    .fa-cubes {
        position: absolute;
        color: #1E90FF;
        font-size: 110%;
        margin-left: 24px;
        margin-top: 20px;
    }

    .fa-chart-pie {
        position: absolute;
        color: #1E90FF;
        font-size: 100%;
        margin-left: 25px;
        margin-top: 22px;
    }

    .conteneur-un,
    .conteneur-deux,
    .conteneur-trois {
        margin-top: 60px;
        display: flex;
        margin-left: 60%;
    }

    .text-service {
        width: 100%;
        opacity: 0.6;
        font-size: 90%;
        font-family: 'roboto-Medium';
    }

    .div-service {
        width: 60%;
        font-family: 'roboto-Medium';
        line-height: 25px;
    }

    #projet {
        background-color: #F4F4F4;
        margin-top: 10%;
        padding-top: 5%;
    }

    .header-projet {
        text-align: center;
    }

    .titre-projet {
        padding-top: 3%;
        margin-bottom: 2%;
        font-family: 'roboto-Bold';
        font-size: 320%;
    }

    .div-cercle-projet, .div-cercle-service{
        margin-left: -11.2%;
        margin-top: -0.5%;
    }

    #cercle-projet, #cercle-service {
        margin-top: -0.05%;
        position: absolute;
        z-index: 3;
        font-size: 130%;
        color: #1E90FF;
    }

    #sous-cercle-projet, #sous-cercle-service{
        margin-top: -0.64%;
        margin-left: -0.58%;
        position: absolute;
        z-index: 2;
        font-size: 225%;
        color: #FFFFFF;
    }

    .p-projet {
        width: 50%;
        margin-left: 25%;

    }

    .bouton-projet {
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }

    .bouton {
        width: 100%;
        height: 40px;
        background-color: #C0C0C0;
        color: #2D241E;
        font-family: 'roboto-Medium';
        font-size: 90%;
        border: 0;
    }

    .bouton:focus {
        outline: 0;
        background-color: #1E90FF;
        border-bottom: 3px solid #4169E1;
    }

    #bouton-un{
        outline: 0;
        background-color: #1E90FF;
        border-bottom: 3px solid #4169E1;
    }

    #bouton-un ~ #fleche-un {
        opacity: 1;
    }

    #bouton-deux:focus ~ #fleche-deux {
        opacity: 1;
    }

    #bouton-trois:focus ~ #fleche-trois {
        opacity: 1;
    }

    #bouton-quatre:focus ~ #fleche-quatre {
        opacity: 1;
    }


    #bouton-un {
        border-top-left-radius: 8%;
        border-bottom-left-radius: 8%;
    }

    #bouton-quatre {
        border-top-right-radius: 8%;
        border-bottom-right-radius: 8%;
    }

    .fleche-bouton {
        display: flex;
        width: 400px;
        margin-left: 518px;
    }

    #fleche-un,
    #fleche-deux,
    #fleche-trois,
    #fleche-quatre {
        font-size: 190%;
        margin-right: 43px;
        margin-left: 43px;
        margin-bottom: 30px;
        color: #4169E1;
        opacity: 0;
        margin-top: -13px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        display: block;
    }

    .photo-un,
    .photo-deux,
    .photo-trois,
    .photo-quatre,
    .photo-cinq,
    .photo-six,
    .photo-sept,
    .photo-huit,
    .photo-neuf {
        width: 260px;
    }

    .image-un,
    .image-deux,
    .image-trois,
    .image-quatre,
    .image-cinq,
    .image-six,
    .image-sept,
    .image-huit,
    .image-neuf {
        max-width: 100%;
        height: auto;
        margin-right: 15px;
        z-index: 1;
    }

    .conteneur-photo {
        width: 85%;
        height: auto;
        display: inline-flex;
        justify-content: space-between;
        margin-left: 60px;
        margin-top: 40px;
    }

    .image-neuf {
        margin-bottom: 30px;
    }

    .desc-photo-un,
    .desc-photo-deux,
    .desc-photo-trois,
    .desc-photo-quatre,
    .desc-photo-cinq,
    .desc-photo-six,
    .desc-photo-sept,
    .desc-photo-huit,
    .desc-photo-neuf {
        position: relative;
        margin-top: -64px;
        width: 100%;
        height: auto;
        max-height: 60px;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        opacity: 0;
        display: none;
        -webkit-transition: opacity, display, 0.2s, ease;
        -moz-transition: opacity, 1s, ease;
        -o-transition: opacity, 1s, ease;
    }

    .desc-photo-neuf {
        top: -30px;
    }

    .p-photo {
        padding-left: 8px;
        font-size: 90%;
        font-family: 'roboto-Medium';
    }

    .titre-photo {
        padding: 12px 0px 8px 8px;
        line-height: 8px;
        font-size: 90%;
        font-family: 'roboto-Medium';
    }

    #cercle-photo, #cercle-photo-deux, #cercle-photo-trois, #cercle-photo-quatre, #cercle-photo-cinq, #cercle-photo-six, #cercle-photo-sept, #cercle-photo-huit, #cercle-photo-neuf {
        position: relative;
        top: -65px;
        right: -200px;
        font-size: 240%;
        color: #1E90FF;
        border: 1.5px solid white;
        border-radius: 100%;
    }

    .fa-eye {
        position: relative;
        font-size: 120%;
        padding-left: 60px;
        top: 26px;
        color: white;
    }

    .image-un:hover ~ .desc-photo-un,
    .desc-photo-un:hover {
        opacity: 1;
        display: inherit;
    }

    .image-deux:hover ~ .desc-photo-deux,
    .desc-photo-deux:hover {
        opacity: 1;
        display: inherit;
    }

    .image-trois:hover ~ .desc-photo-trois,
    .desc-photo-trois:hover {
        opacity: 1;
        display: inherit;
    }

    .image-quatre:hover ~ .desc-photo-quatre,
    .desc-photo-quatre:hover {
        opacity: 1;
        display: inherit;
    }

    .image-cinq:hover ~ .desc-photo-cinq,
    .desc-photo-cinq:hover {
        opacity: 1;
        display: inherit;
    }

    .image-six:hover ~ .desc-photo-six,
    .desc-photo-six:hover {
        opacity: 1;
        display: inherit;
    }

    .image-sept:hover ~ .desc-photo-sept,
    .desc-photo-sept:hover {
        opacity: 1;
        display: inherit;
    }

    .image-huit:hover ~ .desc-photo-huit,
    .desc-photo-huit:hover {
        opacity: 1;
        display: inherit;
    }

    .image-neuf:hover ~ .desc-photo-neuf,
    .desc-photo-neuf:hover {
        opacity: 1;
        display: inherit;
    }

    .lien {
        position: relative;
        top: -98px;
        right: -104px;
    }

    #contact {
        display: inline-block;
        margin-top: 10px;
        width: 100%;
        height: 500px;
    }

    .map {
        width: 100%;
        height: 100%;
        border: 0;
        opacity: 0.6;
        z-index: 5;
    }

    .map-color {
        position: absolute;
        width: 100%;
        height: 500px;
        background-color: skyblue;
        opacity: 0.7;
        z-index: 0;
    }

    .form-contact {
        position: relative;
        margin-bottom: -480px;
        left: 72%;
        width: 22%;
        height: 460px;
        background-color: rgba(255, 255, 255, 1);
        z-index: 4;
    }

    .titre-contact {
        padding: 20px 0px 8px 18px;
        font-family: 'roboto-bold';
        font-size: 150%;
    }

    p.text-contact {
        margin: 0px 0px 15px 18px;
        font-family: 'roboto-Medium';
        font-size: 80%;
        opacity: 0.7;
        line-height: 19px;
    }

    input {
        margin-top: 13px;
        margin-left: 18px;
        height: 25px;
        width: 80%;
        font-size: 90%;
        border-radius: 2px;
    }

    .input {
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    input.submit {
        width: 40%;
        height: 30px;
        border-bottom: 2px solid #6495ED;
        border-style: outset;
        background-color: #1E90FF;
        color: white;
        font-family: 'roboto-Medium';
    }

    textarea {
        margin-top: 13px;
        margin-left: 18px;
        height: 140px;
        width: 80%;
        border: 0;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    input::placeholder {
        padding-top: 5px;
        text-indent: 10px;
        font-family: 'roboto-Medium';
        opacity: 0.7;
    }

    textarea::placeholder {
        padding-top: 4px;
        text-indent: 10px;
        font-family: 'roboto-Medium';
        font-size: 110%;
        opacity: 0.6;
    }

    .bold-text-form {
        font-family: 'roboto-Bold';
        font-size: 100%;
    }
}
